/*
Updated on March 22, 2019

1. css reset
2. container
3. header
4. home-page
5. home-works
6. hover to reduce other child opacity
7. footer
8. scrollbar
9. text selection color
*/


/***1. css reset***/
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
	line-height:1.6;
}
h1, h2, h3, h4, h5, h6, p{
	padding:0;
	margin:0;
	font-weight: 400;
}

/***2. container***/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/***3. header***/
header{
	overflow: hidden;
	background-color: #0077d7;
	z-index: 666;
	height: 90px;
	width: 100%;
	transition: top 0.2s ease-in-out;
	position: absolute;
}
header a{
	color: #fff;
}
.sm-logo{
	padding: 22px 0px;
	transition: opacity 0.4s;
	width:48px;
	height:48px;
	fill: white;
}
.nav-up {
    top: -90px;
}
.header-menu{
	color: #fff;
	float: right;
	list-style-type: none;
	line-height: 58px;
}
.header-menu li{
	float: left;
	margin-right: 42px;
}
@media (max-width: 479px){
	.header-menu li{
		margin-right: 26px;
	}
}
.header-menu li:last-child{
	margin-right: 0px;
}
.header-menu li a{
	text-decoration: none;
	color: #fff;
}
.header-menu li a:hover{
	opacity: 0.8;
}
.header-menu .header-menu_email{
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 10px 25px;
	transition: background-color 0.4s;
	transition: color 0.6s;
}
.header-menu .header-menu_email:hover{
	color: #666;
	border: 1px solid #fff;
	background-color: #fff;
	opacity: 1;
	box-shadow: 0px 1px 10px #666;
	transition: all 0.6s;
}

/***4. home page***/
.home-intro {
	display: table;
	table-layout: fixed;
	height: 100vh;
	width: 100%;
	background-color: #0077d7;
}
.home-intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.home-intro-content h1{
	color: #fff;
	font-size: 52px;
	margin-bottom: 10px;
	line-height: 1.4;
}
.home-cta{
	margin-top: 60px;
}
.home-cta a{
	text-decoration: none;
	color: #444;
	font-size: 20px;
}
.sm-home-cta{
	background: #fff;
	padding: 20px 40px;
	border-radius: 3px;
	box-shadow: 0px 1px 10px #1e1e1e5c;
}
.sm-home-cta:hover{
	background: #fff;
	padding: 20px 40px;
	border-radius: 3px;
	box-shadow: 0px 4px 20px #1e1e1e5c;
}

@media only screen and (max-width: 479px){
	.home-intro-content h1{
		font-size: 40px;
		line-height: 1.2;
	}
}
.home-intro-content h3{
	color: #fff;
	font-size: 22px;
	font-weight: 400;
}
@media only screen and (max-width: 479px){
	.home-intro-content h3{
		font-size: 18px;
		padding-top: 10px;
	}
}
.home-intro-content h3 a{
	text-decoration: none;
	color: #fff;
}
.home-intro-content h3 a:hover{
	color: #333;
	background-color: #fff;
	transition: 0.5s;
}

/***5. home works***/
.home-works{
	padding: 120px 0px;
	background-color: #f5f5f5;
}
@media only screen and (max-width: 479px){
	.home-works{
		padding: 60px 0px;
	}
}
.home-works .home-works-title{
	color: #444;
	font-weight: 700;
	margin-bottom: 15px;
}
.home-works-row {
	width: 100%;
	transition: all 0.4s;
	margin-bottom: 30px;
}
.home-works-row a{
	text-decoration: none;
}
.home-works__item{
	border-radius: 5px;
	background-color: #fff;
	padding: 10px;
	width: 30%;
	margin-right: 1.8%;
	display: inline-block;
	transition: all 0.4s;
}
.home-works-row .home-works__item{
	transition: all 0.4s;
}
.home-works__item:last-of-type{
	margin-right: 0;
}
@media only screen and (max-width: 1199px){
	.home-works__item{
		width: 29.7%;
	}
}
@media only screen and (max-width: 991px){
	.home-works__item{
		width: 29%;
	}
}
@media only screen and (max-width: 767px){
	.home-works__item{
		width: 27%;
	}
}
@media only screen and (max-width: 479px){
	.home-works__item{
		margin-bottom: 35px;
		width: 92%;
		margin-right: 0px;
	}
	.home-works__item:last-of-type{
		float: none;
		margin-bottom: 0;
	}	
}
.home-works__item img{
	width: 100%;
}
.home-works__item h3{
	color: #444;
	font-weight: 700;
}
.home-works__item p{
	color: #888;
}


.design-profiles{
	margin: 0px auto;
	padding-top: 30px;
	text-align: center;
}
.behance-profile{
	text-align: center;
	padding: 40px 10px 0px 10px;
	display: inline-block;
}
.behance-profile img{
	padding: 10px;
	float: left;
}
.behance-profile a{
	background-color: #1769ff;
	border-radius: 3px;
	display: inline-block;
	margin: 0 auto;
	vertical-align: center;
	color: #fff;
	box-shadow: 0px 4px 20px #1e1e1e5c;
	transition: background-color 0.4s;
}
.behance-profile a:hover{
	background-color: #034cd0;
	color: #fff;
}
.behance-profile h4{
	font-size: 18px;
	padding: 0px 20px;
	display: inline;
	line-height: 50px;
}

.dribbble-profile{
	text-align: center;
	padding: 30px 10px 0px 10px;
	display: inline-block;
}
.dribbble-profile img{
	padding: 10px;
	float: left;
}
.dribbble-profile a{
	background-color: #ea4c89;
	border-radius: 3px;
	display: inline-block;
	margin: 0 auto;
	vertical-align: center;
	color: #fff;
	box-shadow: 0px 4px 20px #1e1e1e5c;
	transition: background-color 0.4s;
}
.dribbble-profile a:hover{
	background-color: #333;
	color: #fff;
}
.dribbble-profile h4{
	font-size: 18px;
	padding-right: 15px;
	display: inline;
	line-height: 50px;
}


/*email CTA*/
.sm-email-cta{
	margin: 30px 20px 150px;
	text-align: center;
	font-size: 52px;
}
@media only screen and (max-width: 479px){
.sm-email-cta {
    font-size: 32px;
}
}

.sm-email-cta-p{
	color: #fff;
	font-size: 16px;
	margin: 0px 20px
}

/*6. hover to reduce other child opacity*/
.home-works-row:hover .home-works__item {
    opacity: 0.8;
}
.home-works-row .home-works__item:hover {
    opacity: 1;
	box-shadow: 2px 2px 10px 5px #ddd;
}

/***7. footer***/
footer{
	padding: 140px 0px 300px;
	background-color: #0077d7;
	text-align: center;
}
footer a{
	display: inline;
	color: #fff;
	text-decoration: none;
}
footer .footer-menu{
	color: #fff;
	float: right;
	list-style-type: none;
	margin: 0;
}
footer .footer-menu li{
	float: left;
	margin-right: 40px;
}
footer .footer-menu li:last-child{
	margin-right: 0px;
}
footer .footer-menu li a{
	text-decoration: none;
	color: #fff;
}
.copyright{
	display: inline;
	color: #fff;
}
.social-links{ display:block; margin-bottom: 20px;}
svg{fill:#fff; padding:0px 10px;}
svg:last-of-child{padding-right:0;}
svg:hover{opacity: 0.8; transition: 0.5s ease;}
a{text-decoration: none;}

@media only screen and (max-width: 479px){
	.copyright{
		display: block;
		width: 100%;
		text-align: center;
	}
	.social-links{
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 15px;
	}
	.social-links svg{
		width: 24px;
		height: 24px;
	}
}

/**8. scrollbar**/
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #222;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0268ba; 
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #015da7; 
}

/**9. text selection color**/
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #0367b8;
}
::selection {
    color: #fff;
    background: #0367b8;
}

