/* CSS Reset

http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: url('../img/cursor.png'), auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #111111;
  }
  
  ::selection {
    color: #ffffff;
    background: #111111;
  }





  /* scroll bar customization */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #111111; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #111111; 
  }











.container{
    max-width: 820px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .container{
        max-width: 1000px;
        margin: 0 auto;
        padding: 0px 20px;
    }

}










  
  a {
    color: #000;
  }
  
  
  /* header */
  .header {
    background-color: #fff;
    box-shadow: 0px -1px 2px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    max-width: 822px;
    z-index: 99;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    padding: 0px;
    text-decoration: none;
  }
  
  /* menu */
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    margin-right: 20px;
    position: relative;
    user-select: none;
    float: right;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  @media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 17px 20px;
      font-size: 16px;
    }
    .header .menu {
      clear: none;
      max-height: none;
      float: right;
    }
    .header .menu-icon {
      display: none;
    }

    .header{
        margin-bottom: 0px;
        width: 100%;
    }
  }
  









/* HERO content */
.hero-section{
    padding-top: 80px;
}

.hero-text{
    font-size: 44px;
    margin-top: 30px;
    color: #111111;
}

.hero-p{
    font-size: 20px;
    line-height: 28px;
    margin: 20px 0 35px 0;
    color: #232323;
}

.hero-image{
    max-width: 1000px;
    width: 100%;
    left:0;
    right:0;
    margin: 0px auto;
}

@media (max-width: 768px) {
    .hero-image{
        width: 100%;
        left:0;
        right:0;
        margin: 0px auto;
    }
}

.hero-image:hover ~ .hero-snippets{
    visibility: visible;
    opacity: 1;
    transition: all 0.6s;
}


.hero-about {
    font-size: 16px;
    line-height: 24px;
    color: #232323;
    margin-top: 30px
}









.section-space{
    padding-top: 100px;
    padding-bottom: 100px;
}






.work-process{
    width: 100%;
    margin-top: 100px;
}



.works-list{
    width: 100%;
    margin-top: 60px;
}





/*WORKS*/
.works{
    clear: both;
}

.works h2{
    font-size: 34px;
    color:  #111111;
}

.work-card{
    clear: both;
    margin-top: 40px;
}

.work-card h3{
  margin-bottom:10px;
}

.work-card-image{
    border-radius: 0px;
    border: 1px solid #999999;
    width: 100%;
}

.work-card-image:hover{
    transition: all 0.6s;
}

.work-card .card-content{
    float: none;
}

.work-card .card-content h3{
    font-size: 22px;
    color:  #111111;
}


.cta-card-button{
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 20px;
    color: #111111;
    border: 1px solid #111111;
    border-radius: 0px;
    font-size: 16px;
    line-height: 20px;
    -webkit-box-shadow: 0px 6px 0px 0px rgba(17,17,17,1);
    -moz-box-shadow: 0px 6px 0px 0px rgba(17,17,17,1);
    box-shadow: 0px 6px 0px 0px rgba(17,17,17,1);
    transition: all 0.6s;
}

.cta-card-button:hover {
    background-color: #111111;
    color: #ffffff;
    transition: all 0.6s;
    box-shadow: none;
}









.home-lab h2{
    font-size: 70px;
    color: #111111;
    float: left;
    padding-bottom: 50px;
}

.home-lab a{
    float: right;
    font-size: 40px;
    text-decoration: underline;
}

.home-lab img{
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid #999999;
}

.home-lab .card-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.home-lab .card-row .card img{
    transition: all 0.6s;
    transform: scale(1.0);
}

.home-lab .card-row .card img:hover {
    transition: all 0.6s;
    transform: scale(1.1);
}

.home-lab h3{
    font-size: 40px;
    padding-top: 25px;
    word-wrap: break-word;
    max-width: 300px;
}






.cta-email{
    clear: both;
}

.cta-email h2{
    font-size: 34px;
    color:  #111111;
}

.cta-email h3{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.cta-email a{
    padding-top: 15px;
    font-size: 16px;
    display: block;
    color: #111111;;
}





.footer{
    clear: both;
}

.footer p{
    font-size: 16px;
    padding-bottom: 15px;
}





